# dependencies
node_modules/
**/node_modules/

# env
.env
.env.local
.env*.local

# hardhat
contracts/artifacts/
contracts/cache/
contracts/typechain-types/

# next.js
web/.next/
web/out/
web/build/
web/next-env.d.ts

# misc
.DS_Store
*.log
npm-debug.log*
